## Logistic Regression Bagian 2 - Cleaning Data

In [12]:
#memasukan modul yang digunakan
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [13]:
#memasukan data
data = pd.read_csv('https://stats.idre.ucla.edu/stat/data/binary.csv')

In [14]:
#membuka 5 data pertama
data.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

#### Variabel Dummy 

    1,2,3,4 = rank1, rank2, rank3, rank4

    dimana isi dari rank1, rank2, rank3, rank4 adalah 0 dan 1

In [15]:
#membuat variabel dummy dari rank
dummy_ranks = pd.get_dummies(data['rank'], prefix = 'rank')

In [16]:
#melihat 5 data pertama dummy rank
dummy_ranks.head()

   rank_1  rank_2  rank_3  rank_4
0       0       0       1       0
1       0       0       1       0
2       1       0       0       0
3       0       0       0       1
4       0       0       0       1

In [17]:
#melihat 5 data terakhir dummy rank
dummy_ranks.tail()

     rank_1  rank_2  rank_3  rank_4
395       0       1       0       0
396       0       0       1       0
397       0       1       0       0
398       0       1       0       0
399       0       0       1       0

In [18]:
#mengambil kolom yang diinginkan dalam hal ini 'admit', 'gre', 'gpa'
cols_we_need = ['admit', 'gre', 'gpa']

In [19]:
#menggabungkan kolom 'cols_we_need' dengan kolom 'dummy_ranks'
data = data[cols_we_need].join(dummy_ranks.ix[:, 'rank_2':])

In [20]:
#melihat hasilnya
#melihat 5 data pertama
data.head()

   admit  gre   gpa  rank_2  rank_3  rank_4
0      0  380  3.61       0       1       0
1      1  660  3.67       0       1       0
2      1  800  4.00       0       0       0
3      1  640  3.19       0       0       1
4      0  520  2.93       0       0       1

                    ##Semoga Bermanfaat
                    ##@Raspiani_